requests
Flask
python-decouple
bcrypt

#https://developer.themoviedb.org/docs/getting-started Use this website to get your API key to put in the .env file.
#Do not commit the .env file with an API key in it!
