<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Movie Chooser{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <!-- Below is the favicon image-->
    <link rel="icon" type="image/x-icon" href="/static/img/popcorn.png">
    <!-- block page_css allows us to use custom styling sheets on other pages -->

    <!-- Below is the styling for all pages -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% block page_css %}{% endblock %}
</head>
<body>


<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="alert alert-{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<!-- Navbar Section below -->
<nav class="navbar navbar-expand-lg navbar-dark bg-movie-red">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home') }}"> <i class="fas fa-film"></i></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <!-- Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        MENU
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ url_for('home') }}">HOME</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('about_us') }}">ABOUT US</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('links') }}">STREAMING SITES</a></li>
                    </ul>
                </li>
            </ul>
            <div>
                <h1 class="display-3 text-white ">MOVIE MATCHER</h1>
            </div>
            <ul class="navbar-nav ms-auto">
                {% if username %}
                <li>{{ username }}</li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">
                        <i class="fa-regular fa-circle-user fa-shake login-icon"></i>
                    </a>
                </li>
                {% if username %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>

{% block content %}

<!-- Below is the logo banner-->
<div class="container py-5 text-center bg-light">
    <h1 class="display-3">MOVIE CHOOSER</h1>
    <p class="lead">Find your next favorite movie effortlessly!</p>
</div>

{% endblock %}

<div class="container-fluid top_banner fixed">
</div>

<!--Below is the footer for all pages-->
<footer class="bg-dark text-light mt-auto">
    <div class="container p-4">
        <div class="row">


            <!-- Contact  team Section -->
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <ul class="list-unstyled">
                    <li><a href="mailto:creators@example.com" class="text-light text-decoration-none">Email the
                        Creators</a></li>
                </ul>
            </div>

            <!-- email input Section -->
            <div class="col-md-4">
                <h5>Stay Updated</h5>
                <form>
                    <div class="mb-3">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <button type="submit" class="btn btn-secondary">Subscribe</button>
                </form>
            </div>

            <!--Streaming Links for big companies -->
            <div class="col-md-4">
                <h5>Watch Movies On</h5>
                <ul class="list-unstyled">
                    <li><a href="https://www.netflix.com" target="_blank" class="text-light text-decoration-none">Netflix</a>
                    </li>
                    <li><a href="https://www.primevideo.com" target="_blank" class="text-light text-decoration-none">Amazon
                        Prime</a></li>
                    <li><a href="https://www.disneyplus.com" target="_blank" class="text-light text-decoration-none">Disney+</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Below is the bootstrap for all pages -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/app.js"></script>

<!-- block page_js allows us to use custom js on other pages -->
{% block page_js %}

{% endblock %}

</body>
</html>