{% extends 'base.html' %}

{% block title %}Links{% endblock %}


{% block content %}

<div class="container my-5">
    <h1 class="text-center">Stream Your Movies Here</h1>
</div>

<div class="container my-5">
    <div class="row g-4 justify-content-center">

        <!-- Netflix -->
        <div class="col-md-3">
            <a href="https://www.netflix.com" target="_blank" class="image-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="Netflix Logo"
                     class="img-fluid">
            </a>
        </div>

        <!-- Amazon Prime -->
        <div class="col-md-3">
            <a href="https://www.primevideo.com" target="_blank" class="image-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f1/Prime_Video.png" alt="Amazon Prime Logo"
                     class="img-fluid">
            </a>
        </div>

        <!-- Apple TV -->
        <div class="col-md-3">
            <a href="https://tv.apple.com/" target="_blank" class="image-box">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKiydsVKhEM4kadr-wzHD1tl03Lg_V7GfWDw&s"
                     alt="Apple Logo" class="img-fluid">
            </a>
        </div>

        <!-- Disney+ -->
        <div class="col-md-3">
            <a href="https://www.disneyplus.com" target="_blank" class="image-box">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Disney%2B_logo.svg" alt="Disney+ Logo"
                     class="img-fluid">
            </a>
        </div>

        <!-- Hulu -->
        <div class="col-md-3">
            <a href="https://www.hulu.com" target="_blank" class="image-box">
                <img src="https://www.logo.wine/a/logo/Hulu/Hulu-Logo.wine.svg" alt="Hulu Logo" class="img-fluid">
            </a>
        </div>
    </div>
</div>


{% endblock %}