
:root{
    --tmdbDarkBlue: 3, 37, 65;
}

.review_rating {
    text-align: right;
    font-weight:bold;
    font-style: italic;
}

.review_name{
    color:red;
    font-weight:bold;
}

/*.review_container{
    padding-left: 20%;
    padding-right:20%;
}*/

.review_container{
    padding-left: 15%;
    padding-right:15%;
    float:left;

}

.actors{
        color:#000000;
}

.icons{
    border-radius: 10px;
    width: 50px;

}
.actor_image{
    border-radius:10px;
    border: solid 1px black;
    box-shadow: 5px 5px 2px rgb(44, 45, 45);
}

.tagline{
    color:#ffd933;
}

.recommended{
    color:white;
    font-size:1.5vw;
}

.poster{
        border-radius:7px;
    float:center;
}

.favourite_button{
    text-align:center;
    float:center;
}
.text-end{
    text-align:center !important;
}

.more_button{
    float:left;
    font-size:10px;
}

.review_element{
        border-radius:10px;
    border: solid 1px black;
    box-shadow: 5px 5px 2px rgb(44, 45, 45);
}
h2{
    color:black;
    text-align:left;
}