.film_title {
    color:black;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    text-decoration:underline;
}

.container_stuff {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center space-evenly;
}

.image_border{
    border: solid 1px black;
    float: right;
    border-radius:7px;
}

.column_styling {
    height: 200px;
}

.column_styling > a {
    height: 300px;
    display: block;
    overflow: hidden;
}

.heading-style{
    color:black;
}


