{% extends 'base.html' %}

{% block title %}{{ person.name }}}}{% endblock %}

{% block page_css %}
    <link rel="stylesheet" href="/static/css/chosen_movie.css">
{% endblock %}

{% block content %}
    <!-- Movie Chooser Title Section -->
    <div class="container py-5 text-center bg-light">
        <h1 class="display-3">{{ person.name }}</h1>
    </div>


<div class="container ">
    <div class="row ">
        <div class="col"><h2>Movies</h2></div>
    </div>
    <div class="row">
    {% for movie in credits.cast %}
        {% include "result_block.html" %}
    {% endfor %}
    </div>
</div>

{% endblock %}